#backButton {
    color: white;
    background-color: #000000;
    width: 125px;
    height: 70px;
    position: absolute;
    left: 255px;
    top: 775px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
}

#name2 {
    position: absolute;
    left: 25px;
    top: 700px;
    font-size: 25px;
}

#strain2 {
    position: absolute;
    left: 25px;
    top: 625px;
    font-size: 25px;
}

#orderNum {
    font-size: 25px;
    position: absolute;
    left: 25px;
    top: 550px;
}